<div *ngIf="loading" class="m-5">
  <select (change)="selectPage()" class="form-select" id="selectPage">
    <option selected>Tamaño de página: {{ tamPag }}</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poke of pokemons">
        <th scope="row">{{ poke.id }}</th>
        <td>{{ poke.name }}</td>
        <td>
          <img
            class="imgPoke"
            src="{{ poke.sprites.front_default }}"
            alt="{{ poke.name }}"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" *ngIf="initPag > 0">
        <a class="page-link" (click)="pagAnterior()" href="#">Anterior</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="pagSiguiente()" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<div class="loading" *ngIf="!loading">
  <img src="../../../assets/images/spinner.gif" />
</div>
