<div class="row mx-5 mt-3">
  <div class="col-sm-6 col-md-4 col-xl-3 mb-2">
    <!-- buscador -->
    <input
      (change)="selectBuscador()"
      class="form-control"
      list="pokebuscador"
      id="pokebuscadorInput"
      placeholder="Busca tu pokemon"
    />
    <datalist id="pokebuscador">
      <option
        *ngFor="let poke of namePokemons"
        value="{{ poke.name }}[{{ poke.id }}]"
      ></option>
    </datalist>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mb-2">
    <!-- selector de pagina -->
    <select (change)="selectPage()" class="form-select" id="selectPage">
      <option value="5">Tamaño de página: 5</option>
      <option value="10">Tamaño de página: 10</option>
      <option value="20">Tamaño de página: 20</option>
    </select>
  </div>
</div>
<div *ngIf="loading" class="mx-5">
  <!-- tabla -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen Frontal</th>
        <th scope="col">Imagen Trasera</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poke of pokemons">
        <th scope="row">{{ poke.id }}</th>
        <td>{{ poke.name }}</td>
        <td>
          <img
            class="imgPoke"
            src="{{ poke.sprites.front_default }}"
            alt="{{ poke.name }}"
          />
        </td>
        <td>
          <img
            class="imgPoke"
            src="{{ poke.sprites.back_default }}"
            alt="{{ poke.name }}"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <!-- paginacion -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" *ngIf="initPag > 0">
        <a class="page-link" (click)="pagAnterior()" href="#">Anterior</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="pagSiguiente()" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<!-- spinner -->
<div class="loading" *ngIf="!loading">
  <img src="../../../assets/images/spinner.gif" />
</div>

<!-- pokemon individual -->
<div
  class="mx-5 mt-3 border border-primary border-3 p-5 mt-4 rounded"
  *ngIf="pokeIndiLoading"
>
  <div class="row">
    <div class="card col-3 text-center">
      <img
        src="{{ pokemonIndividual.sprites.front_default }}"
        class="card-img-top"
        alt="{{ pokemonIndividual.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemonIndividual.name }}</h5>
        <p class="card-text">Stats de {{ pokemonIndividual.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let s of pokemonIndividual.stats">
            {{ s.stat.name }}: {{ s.base_stat }}
          </li>
        </ul>
      </div>
    </div>

    <div class="card col-9">
      <div class="card-body">
        <h5 class="card-title">{{ pokemonIndividual.name }}</h5>

        <div class="row">
          <div class="col-3">
            Habilidades:
            <!-- <ul>
              <li *ngFor="let m of pokemonIndividual.moves">
                {{ m.move.name }}
              </li>
            </ul> -->
          </div>
          <div class="col-6">
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
